*{
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
}

/* header */
.header{
  padding: 10px 0;
  /* height: 319; */
  background:  #326155;
  
}
.profile-img {
    height: 70px;
    width: 70px;
    
}
.profile-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.heading{
  color: #fff;
  text-align: center;
  /* border: saddlebrown 4px solid; */
}

/* main */
main{
  width: 583px;
  margin: 50px auto;
  background: #d7f2ec;
}
main img{
  width: 580px;
  height: 293px;
  display: block;
  padding: 20px;
  margin: 10px 10px;
}
main .text{
  margin: 10px 20px;
}
main .last_text{
  background: #326155;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}


/* footer */
footer p{
  background: #326155;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}